# =========================================
# Logs
# =========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================================
# Dependencies & Build Output
# =========================================
node_modules
dist
dist-ssr

# =========================================
# Environment Variables (Bảo mật)
# =========================================
.env
.env.*
!.env.example

# =========================================
# Vite, Linters & Caches
# =========================================
.vite/
.eslintcache
.stylelintcache
.prettiercache
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# =========================================
# Testing
# =========================================
coverage/

# =========================================
# OS & Editor Directories
# =========================================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?